/* global styling */
body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Roboto, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;

  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.content-container {
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

/* main header */

.site-header {
  background-color: #293449;
}

.site-header li {
  list-style: none;
}

.site-header ul {
  padding: 0;
}

.main-logo {
  width: 220px;
  height: 44px;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;

  display: flex;
}

.main-logo img {
  margin: auto;
}

.main-logo:hover {
  background-color: rgb(202, 44, 55);
}

.main-logo:active {
  background-color: rgb(186, 39, 50);
}

.site-search {
  width: 270px;
  border: none;
  padding: 12px 60px 12px 50px;
  background: url(../img/icon-search-dark.svg) 10px center no-repeat;
}

.site-search:hover {
  background: rgb(33, 42, 58) url(../img/icon-search.svg) 10px center no-repeat;
}

.site-search:focus {
  background: rgba(255, 255, 255, 1) url(../img/icon-search-red.svg) 10px center no-repeat;
  color: rgb(0, 0, 0);
  outline: none;
}

.site-search::placeholder {
  color: rgba(255, 255, 255, 1);
}

.customer-menu-list {
  width: 450px;
  margin: 0;

  display: flex;
}

.customer-menu-item {
  list-style: none;
}

.customer-menu-item a {
  color: #ffffff;
  min-width: 150px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 12px 15px;
}

.bookmarks {
  background-image: url(../img/icon-bookmark-dark.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
}

.cart {
  background-image: url(../img/icon-cart-dark.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
}

.checkout {
  background-color: #63a63e;
}

.bookmarks:hover {
  background-color: rgb(33, 42, 58);
  background-image: url(../img/icon-bookmark.svg);
}

.cart:hover {
  background-color: rgb(33, 42, 58);
  background-image: url(../img/icon-cart.svg);
}

.bookmarks:active {
  background-color: rgb(22, 29, 41);
  background-image: url(../img/icon-bookmark-dark.svg);
}

.bookmarks:active a {
  color: rgba(255, 255, 255, .5);
}

.cart:active {
  background-color: rgb(22, 29, 41);
  background-image: url(../img/icon-cart-dark.svg);
}

.cart:active a {
  color: rgba(255, 255, 255, .5);
}

.checkout:hover {
  background-color: rgb(95, 187, 45);
}

.checkout:active {
  background-color: rgb(81, 133, 52);
}

.checkout:active a {
  color: rgba(255, 255, 255, .5);
}

.cart-red {
  background-color: rgb(238, 54, 67);
  background-image: url(../img/icon-cart.svg);
}

/* section about */

.about {
  background-color: rgb(242, 246, 248);
}

.about .content-container {
  padding: 46px 10px 46px 10px;

  display: flex;
  justify-content: space-between;
}

.site-header h1 {
  width: 200px;
  margin: 0;
  padding: 0 50px;

  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  font-weight: 400;
}

.contacts-container {
  width: 310px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  font-weight: 400;

  padding: 12px 50px 12px 75px;
  margin: 0;
  margin-bottom: 3px;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 10px center;

  border: 2px solid #ffffff;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: rgb(50, 66, 92);
  font-weight: 400;
  margin: 0;
}

.login-menu {
  width: 310px;
  margin: 0;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.logged {
  justify-content: flex-start;
}

.small-link:last-of-type {
  position: relative;
}

.small-link:last-of-type::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #1d2739;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
}

.small-link {
  padding: 7px 15px;
}

.login-menu-item a {
  font-size: 21px;
  line-height: 21px;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.reg-field {
  margin-left: 10px;
}

.user-field a {
  display: inline-block;
  padding: 10px 60px 10px 60px;

  background-color: #ffffff;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: center;
}

.user-field:hover a {
  background-image: url(../img/icon-user-dark.svg);
}

.user-field:active a {
  background-image: url(../img/icon-user.svg);
}

.log-out-btn {
  position: relative;
  z-index: 1;
}

.log-out-btn:hover a {
  background-image: url(../img/icon-logout-dark.svg);
}

.log-out-btn:active a {
  background-image: url(../img/icon-logout.svg);
}

.log-out-btn a {
  position: absolute;
  width: 38px;
  height: 42px;
  display: inline-block;
  /* border: 1px solid black; */
  left: -37px;
  background: url(../img/icon-logout.svg) center center no-repeat;
}

.login-field a {
  padding: 13px 14px 13px 48px;
  display: block;
  background-image: url(../img/icon-login.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.login-field:hover a {
  background-image: url(../img/icon-login-dark.svg);
}

.login-field:active a {
  background-image: url(../img/icon-login.svg);
}

.login-field a:hover,
.reg-field a:hover,
.small-link a:hover {
  color: rgb(238, 54, 67);
}

.login-field a:active,
.reg-field a:active,
.user-field a:active {
  color: rgba(0, 0, 0, .2);
}

.small-link a:active {
  color: rgba(50, 66, 92, .2);
}

.reg-field a {
  padding: 13px 25px;
  display: block;
  background-color: #ffffff;
}

.small-link a {
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
  color: rgb(50, 66, 92);
}

/* site navigation */

.site-navigation {
  background-color: rgb(242, 246, 248);
  padding-bottom: 60px;
}

.main-nav {
  background-color: rgb(50, 66, 92);

  display: flex;
  justify-content: center;
  border-bottom: 3px solid rgba(41, 52, 73, 1);
}

.main-nav-item:hover {
  background-color: rgba(41, 52, 73, 1);
}

.main-nav-item:focus {
  background-color: #1d2739;
}

.main-nav-item a:active {
  color: rgba(255, 255, 255, .4);
}

.main-nav-item a {
  padding: 20px 30px;
  display: block;

  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
}

/* breadcrumb */

.breadcrumb-item a {
  color: rgb(0, 0, 0);
  font-family: "PT Sans", Roboto, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 360px;

  display: flex;
  justify-content: space-between;
}

.breadcrumb-item {
  padding: 20px 20px;
}

.item-home {
  width: 20px;
  height: 20px;

  background-color: transparent;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.item-home a {
  display: block;
  width: 20px;
  height: 20px;
}

/* section rock-drill */
.catalog-container {
  display: flex;
  justify-content: space-between;
}

.rock-drill h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;

  font-family: "Cuprum", "Roboto", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
  font-weight: 200;

  background-color: rgb(242, 246, 248);
}

.site-filter {
  width: 220px;
}

.filter-heading {
  border: none;
}

.site-filter legend {
  color: rgb(0, 0, 0);
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;
}

.border-bottom {
  border-bottom: 1px solid #eaeaea;
}

.filter-list-item {
  margin-bottom: 13px;
  list-style: none;
  position: relative;
}

.filter-list-item input[type="checkbox"],
.filter-list-item input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.checkbox-indicator {
  position: absolute;
  width: 28px;
  height: 25px;
  left: 0;
  top: 0;
  background: url(../img/checkbox-off.svg) center center no-repeat;
}
.radio-indicator {
  position: absolute;
  width: 28px;
  height: 25px;
  left: 0;
  top: 0;
  background: url(../img/radio-off.svg) center center no-repeat;
}

.filter-list-item input[type="checkbox"]:checked + .checkbox-indicator {
  background: url(../img/checkbox-on.svg) center center no-repeat;
}
.filter-list-item input[type="radio"]:checked + .radio-indicator {
  background: url(../img/radio-on.svg) center center no-repeat;
}

.filter-list-item label {
  display: block;
  padding: 3px 0 0 35px;

  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.simple-btn {
  border: 1px solid rgb(229, 229, 229);
  background-color: transparent;

  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 18px;
  font-family: "PT Sans", Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 400;

  padding: 12px 40px;
  margin: 10px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  width: 700px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.catalog-item {
  margin-bottom: 10px;
  width: 217px;
  border: 1px solid rgb(229, 229, 229);
  list-style: none;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
}

.catalog-item h3 {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: "PT Sans", Roboto, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.price {
  color: rgb(153, 153, 153);
  font-family: "PT Sans", Roboto, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.hot-price {
  display: block;
  color: rgb(255, 255, 255);
  font-family: "PT Sans", Roboto, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  width: 140px;
  padding: 10px 0;
  margin: 5px auto 20px auto;

  background-image: url(../img/btn_red_arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

.item-hovered .hot-price {
  margin-top: 41px;
}

.catalog-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.buy-link {
  display: inline-block;
  margin: 43px auto 5px auto;
  padding: 12px 45px 12px 50px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background: rgb(99, 166, 52) url(../img/icon-cart-green.svg) 10px center no-repeat;
  box-shadow: inset 0 -3px 0 0 rgb(54, 115, 21);
  border: none;
  border-radius: 2px;
}

.buy-link:hover {
  background: rgb(95, 187, 45) url(../img/icon-cart.svg) 10px center no-repeat;
}

.buy-link:active {
  background: rgb(81, 133, 52) url(../img/icon-cart.svg) 10px center no-repeat;
}

.bookmark-link {
  display: inline-block;
  margin: 0 auto 50px auto;
  padding: 12px 35px 12px 35px;

  font-size: 14px;
  line-height: 18px;
  color: rgb(50, 66, 92);
  text-transform: uppercase;
  text-align: center;

  box-shadow: inset 0 0 0 3px rgb(54, 115, 21);
  border: none;
  border-radius: 2px;
}

.bookmark-link:hover {
  box-shadow: inset 0 0 0 3px rgb(50, 66, 92);
}

.bookmark-link:active {
  color: rgba(50, 66, 92, .3);
  box-shadow: inset 0 0 0 3px #32425c4d;
}

/* section proposals */

.proposals-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.proposals-item {
  margin: 0;
  margin-bottom: 20px;
  width: 300px;
}

.proposals-item h3 {
  margin: 20px 0 13px 20px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.proposals-item a {
  display: inline-block;
  margin: 0 0 22px 25px;
  padding: 10px;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, .1);
}
.proposals-item a:hover {
  background-color: rgba(0, 0, 0, .2);
}
.proposals-item a:active {
  background-color: rgba(0, 0, 0, .3);
}

.materials {
  background: #FFBF47 url(../img/material.svg) center right 30px no-repeat;
}

.tools {
  background: #3BBCE3 url(../img/tools.svg) center right 20px no-repeat;
}

.vehicles {
  background: #DC91D8 url(../img/vehicles.svg) center right 20px no-repeat;
}

.discount {
  margin-left: 640px;
  background: #8ED78F url(../img/discount.svg) center right 30px no-repeat;
}

.delivery {
  background: #FFC047 url(../img/delivery.svg) center right 20px no-repeat;
  margin-left: 640px;
  margin-bottom: 53px;
}

.ad-card {
  position: absolute;
  top: 141px;
  left: 0;
  width: 620px;
  background-image: url(../img/ad-card1.jpg);
}

.ad-card::before {
  margin-top: -20px;
  content: "";
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-left.svg);
  position: absolute;
  top: 50%;
  left: 25px;
  cursor: pointer;
}

.ad-card::after {
  margin-top: -20px;
  content: "";
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-right.svg);
  position: absolute;
  top: 50%;
  right: 25px;
  cursor: pointer;
}

.ad-card-slogan {
  padding: 20px 25px;
  width: auto;
}

.ad-card h4 {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.ad-card p {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.ad-btn {
  margin: 100px 25px 24px 25px;
}

.ad-btn::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  left: 295px;
  bottom: 35px;
  cursor: pointer;
}

.ad-btn::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #ee3643;
  box-shadow: inset 0 0 0 2px #ffffff;
  border-radius: 50%;
  left: 295px;
  bottom: 35px;
  cursor: pointer;
}

.ad-btn::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  right: 295px;
  bottom: 35px;
  cursor: pointer;
}

/* section best-sellers */

.heading {
  padding: 25px;
  margin-bottom: 20px;
  background-color: #f9f5f0;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h2 {
  margin: 0;
  padding: 0;
  font-style: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.heading .red-btn {
  min-width: 253px;
  box-sizing: border-box;
  text-align: center;
}

.best-seller-container {
  margin-bottom: 21px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* section top-brands */

.brand-card-list {
  list-style: none;
  padding: 0;
  margin: 0 0 65px 0;
  display: flex;
  flex-wrap: wrap;
}

.brand-card-list li {
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid #f9f5f0;
}

.brand-card-list li:nth-child(4n) {
  margin-right: 0;
}

.brand-link {
  display: inline-block;
  min-width: 216px;
  min-height: 141px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-link:hover {
  box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
}

/* section services */

.services {
  width: 100%;
  padding-top: 64px;

  background-color: #f4f8f9;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;

  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.services h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: 400;

  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.services p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  padding: 0 540px 0 0;
  margin: 0;
}

.services-list {
  margin: 0 80px 99px 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.services-list::after {
  content: "";
  width: 10px;
  height: 279px;
  position: absolute;
  top: -45px;
  left: 230px;

  background-image: url(../img/shadow-stick.png);
}

.services-list-item button {
  padding: 15px 22px;
  min-width: 240px;
  text-align: left;

  color: #ffffff;
  font-size: 21px;
  line-height: 30px;

  background-color: #32425c;
  border: none;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;

  cursor: pointer;
}

.services-items-description {
  display: none;
  width: 620px;

  background-image: url(../img/van.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.services-items-description:nth-of-type(1) {
  display: block;
}

.services-items-description p {
  padding: 0 305px 0 0;
}

.services-container {
  margin-top: 75px;

  display: flex;
}



/* section details */

.details {
  padding: 80px 10px 86px 10px;
}

.details h3 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400px;
  text-transform: uppercase;
}

.company-description {
  width: 620px;
}

.details p {
  margin: 0;
  margin-bottom: 32px;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.delivery-list {
  margin: 0 0 40px 0;
  padding: 0;
}

.delivery-item {
  padding-bottom: 24px;
  padding-left: 35px;
  position: relative;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.delivery-item::before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  background-color: #ee3643;
  left: 0;
  top: 10px;
}

.delivery-item:last-child {
  padding-bottom: 0;
}

.red-btn {
  padding: 12px 40px;
  display: inline-block;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: rgb(238, 54, 67);
}
.red-btn:hover {
  background-color: rgb(202, 44, 55);
}
.red-btn:active {
  background-color: rgb(186, 39, 50);
}

.company-contacts {
  width: 300px; 
}

.company-contacts img {
  width: 300px;
  height: 150px;
  margin-bottom: 74px;
}

.company-contacts .red-btn {
  min-width: 100%;
  padding: 12px;
  box-sizing: border-box;
  text-align: center;
}

/* footer */

.site-footer {
  background-color: rgb(50, 66, 92);
}

.footer-container {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  display: flex;
  justify-content: space-between;
}

.address-wrapper {
  width: 380px;
}

.address-wrapper .main-logo {
  width: 220px;
  height: 67px;
}

.footer-nav-list {
  width: 550px;
  margin: 0;
  padding: 0 0 75px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-nav-item {
  list-style: none;
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 20px;
}

.footer-nav-item a {
  color: inherit;
}

.footer-nav-item a:active {
  color: rgba(255, 255, 255, .4);
}

.footer-nav-item a:hover {
  text-decoration: underline;
}

.site-footer .gold {
  color: rgb(255, 209, 128);
}

.site-footer .gold:active {
  color: rgba(255, 209, 128, .4);
}

.site-footer .gold:hover {
  text-decoration: underline;
}

.footer-bottom {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;

  background-color: rgb(41, 52, 73);
}

.footer-bottom a {
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom .content-container {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-bottom .address {
  color: #ffffff;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;

  width: 380px;
  margin-right: 10px;
}

.footer-bottom p {
  margin: 0;
}

.social-list {
  margin: 0;
  margin-right: 118px;
  padding: 0;

  display: flex;
}

.social-item {
  list-style: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgb(33, 42, 58);
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.developer {
  margin-left: auto;
}

.social-item:hover,
.social-item:active {
  background-color: rgb(186, 39, 50);
}

.social-item:nth-child(2) {
  background-image: url(../img/icon-fb.svg);
}

.social-item:nth-child(3) {
  background-image: url(../img/icon-insta.svg);
}

.feedback .feedback-link:hover {
  text-decoration: underline;
}

.feedback .feedback-link:active {
  color: #ee3643;
}

/* modal cart-added */

.modal {
  position: fixed;
  background-color: #ffffff;
  box-shadow: inset 0 7px 0 0 rgba(238, 54, 67, 1), 0px 20px 40px 0px rgba(41, 52, 73, 0.75);
  display: none;
}

.btn-close {
  position: absolute;
  top: 16px;
  right: 10px;

  width: 21px;
  height: 21px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-close::before,
.btn-close::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 4px;
  background-color: #ee3643;
  top: 8px;
  left: -2px;
}

.btn-close::after {
  transform: rotate(45deg);
}

.btn-close::before {
  transform: rotate(-45deg);
}

.cart-added {
  top: 43vh;
  left: 50%;

  width: 620px;
  margin-left: -310px;
}

.cart-added h3 {
  margin: 0;
  padding: 70px 120px 70px 160px;

  font-size: 30px;
  line-height: 30px;

  position: relative;
}

.cart-added h3::before {
  content: "";
  width: 65px;
  height: 65px;
  position: absolute;
  left: 80px;
  top: 55px;
  background-image: url(../img/form-1.svg);
  border-radius: 50%;
}

.btn-wrapper {
  width: 460px;
  padding: 37px 80px;
  display: flex;
  justify-content: space-between;

  background-color: rgba(241, 241, 241, 1);
}

.btn-wrapper .red-btn {
  padding: 14px 60px;
}

.white-btn {
  padding: 12px 40px;
  display: inline-block;

  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: none;

  cursor: pointer;
}

/* modal write-us */

.write-us {
  top: 20vh;
  left: 50%;

  width: 620px;
  margin-left: -320px;
}

.inputs-container {
  padding: 0 80px;
  margin-top: 52px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-label {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 16px;

}

.form-item-wrapper input[type="text"],
.form-item-wrapper input[type="email"] {
  font-family: "PT Sans", sanf-serif;
  font-size: 13px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 7px 16px;
  width: 220px;
}

.form-item-wrapper {
  display: flex;
  flex-direction: column;
}

.content-form {
  width: 100%;
}

.content-form textarea {
  font-family: "PT Sans", sanf-serif;
  font-size: 13px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 7px 16px;
}

.content-form label {
  margin-top: 16px;
}

.feedback-form .red-btn {
  border: none;
  width: 100%;
  padding: 10px;
  margin-top: 35px;
  margin-bottom: 35px;
  cursor: pointer;
}

.submit-container {
  background-color: #f4f4f4;
  padding: 0 80px;
  margin-top: 35px;
}

/* modal map-pop-up */

.map-pop-up {
  display: none;
  width: 940px;
  margin-left: -470px;
  position: fixed;
  bottom: 365px;
  left: 50%;
}

.map-pop-up img {
  box-shadow: 0 0 14px 1px rgba(47, 42, 43, .5);
}
