/* global styling */
body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Roboto, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;

  background-color: #ffffff;
}

img {
  max-width: 100%
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* main header */

.site-header {
  background-color: #293449;
}

.site-header li {
  list-style: none;
}

.site-header ul {
  padding: 0;
}

.customer-menu-container {
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.customer-menu-container a {
  color: #ffffff;
}

.main-logo {
  width: 220px;
  height: 44px;

  background-color: #ee3643;

  display: flex;
}

.main-logo img {
  margin: auto;
}

.main-logo:hover {
  background-color: rgb(202, 44, 55);
}

.main-logo:active {
  background-color: rgb(186, 39, 50);
}

.site-search {
  width: 270px;
  background-color: rgb(41, 52, 73);
  border: none;
  padding: 12px 60px 12px 50px;
  background: url(../img/icon-search.svg) 10px center no-repeat;
}

.site-search:hover {
  background-color: rgb(33, 42, 58);
}

.site-search:focus {
  background-color: #ffffff;
  color: rgb(0, 0, 0);

  padding-left: 20px;
}

.site-search::placeholder {
  color: #ffffff;
}

.customer-menu-list {
  width: 450px;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.customer-menu-item {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px;
  box-sizing: border-box;
}

.bookmarks {
  padding: 12px 15px 12px 50px;

  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
}

.cart {
  padding: 12px 20px 12px 50px;

  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
}

.checkout {
  padding: 12px 21px;

  background-color: #63a63e;
}

.bookmarks:hover,
.cart:hover {
  background-color: rgb(33, 42, 58);
}

.bookmarks:active,
.cart:active {
  background-color: rgb(22, 29, 41);
}

.checkout:hover {
  background-color: rgb(95, 187, 45);
}

.checkout:active {
  background-color: rgb(81, 133, 52);
}

.active-red {
  background-color: rgb(238, 54, 67);
}

/* section about */

.about {
  background-color: rgb(242, 246, 248);
}

.about-container {
  width: 940px;
  padding: 46px 10px 46px 10px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.site-header h1 {
  width: 200px;
  margin: 0;
  padding: 0 50px;

  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  font-weight: 400;
}

.contacts-container {
  width: 310px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  font-weight: 400;

  padding: 12px 50px 12px 75px;
  margin: 0;
  margin-bottom: 3px;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 10px center;

  border: 2px solid #ffffff;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: rgb(50, 66, 92);
  font-weight: 400;
  margin: 0;
}

.login-menu {
  width: 310px;
  margin: 0;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.logged {
  justify-content: flex-start;
}

.small-link:last-of-type {
  position: relative;
}

.small-link:last-of-type::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #1d2739;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
}

.small-link {
  padding: 12px 15px;
}

.login-menu-item a {
  font-size: 21px;
  line-height: 21px;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.reg-field {
  margin-left: 10px;
}

.user-field {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;
  width: 300px;

  background-color: #ffffff;
  background-image: url(../img/icon-login.svg), url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position-x: 280px, 10px;
  background-position-y: center;

}

.login-field {
  padding: 13px 14px 13px 48px;

  background-image: url(../img/icon-login.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.login-field a:hover,
.reg-field a:hover,
.small-link a:hover {
  color: rgb(238, 54, 67);
}

.login-field a:active,
.reg-field a:active,
.user-field a:active {
  color: rgba(0, 0, 0, .2);
}

.small-link a:active {
  color: rgba(50, 66, 92, .2);
}

.reg-field {
  padding: 13px 25px;

  background-color: #ffffff;
}

.small-link a {
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
  color: rgb(50, 66, 92);
}

/* site navigation */

.site-navigation {
  background-color: rgb(242, 246, 248);
  padding-bottom: 60px;
}

.main-nav {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;

  background-color: rgb(50, 66, 92);

  display: flex;
  justify-content: center;
}

.main-nav-item {
  width: 125px;
  padding-top: 20px;
  padding-bottom: 23px;

  text-align: center;
}

.main-nav-item:nth-child(5) {
  padding-right: 5px;
  padding-left: 5px;
}

.main-nav-item:hover {
  background-color: rgba(41, 52, 73, 1);
}

.main-nav-item:focus {
  background-color: #1d2739;
}

.main-nav-item a:active {
  color: rgba(255, 255, 255, .4);
}

.main-nav-item a {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
}

.main-container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
/* breadcrumb */

.breadcrumb-item a {
  color: rgb(0, 0, 0);
  font-family: "PT Sans", Roboto, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 360px;

  display: flex;
  justify-content: space-between;
}

.breadcrumb-item {
  padding: 20px 35px;
}

.item-home {
  width: 20px;
  height: 20px;

  background-color: transparent;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* section rock-drill */
.catalog-container {
  display: flex;
  justify-content: space-between;
}
.rock-drill h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;

  font-family: "Cuprum", "Roboto", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
  font-weight: 200;

  background-color: rgb(242, 246, 248);
}

.site-filter {
  width: 220px;
}

.site-filter legend {
  color: rgb(0, 0, 0);
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;
}

.filter-list-item {
  list-style: none;
}

.filter-list-item label {
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.simple-btn {
  border: 1px solid rgb(229, 229, 229);
  background-color: transparent;

  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 18px;
  font-family: "PT Sans", Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 400;

  padding: 12px 40px;
  margin: 10px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  width: 700px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.catalog-item {
  margin-bottom: 10px;
  width: 220px;
  border: 1px solid rgb(229, 229, 229);
  list-style: none;
  text-align: center;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.catalog-item:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
}

.catalog-item h3 {
  color: rgb(0, 0, 0);
  font-family: "PT Sans", Roboto, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.price {
  color: rgb(153, 153, 153);
  font-family: "PT Sans", Roboto, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.hot-price {
  display: block;
  color: rgb(255, 255, 255);
  font-family: "PT Sans", Roboto, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  width: 140px;
  padding: 10px 10px;
  margin: 5px;

  background-color: #ee3643;
}

/* .hot-price::after {
  content: "";
  border: 20px solid rgb(238, 54, 67);
  border-right-width: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  right: -20px;
  top: .7px;
} */

/* section about */

.catalog-links {
  list-style: none;
}

.buy-link {
  width: 135px;
  padding: 14px 40px 14px 50px;
  margin: 5px;
  box-sizing: border-box;
  display: block;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background: rgb(99, 166, 52) url(../img/icon-cart.svg) 10px center no-repeat;
  box-shadow: inset 0 -3px 0 0 rgb(54, 115, 21);
  border: none;
  border-radius: 2px;
}

.buy-link:hover {
  background: rgb(95, 187, 45) url(../img/icon-cart.svg) 10px center no-repeat;
}

.buy-link:active {
  background: rgb(81, 133, 52) url(../img/icon-cart.svg) 10px center no-repeat;
}

.bookmark-link {
  width: 135px;
  margin: 5px;
  display: block;
  box-sizing: border-box;
  padding: 14px 30px;

  font-size: 14px;
  line-height: 18px;
  color: rgb(50, 66, 92);
  text-transform: uppercase;
  text-align: center;

  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px rgb(54, 115, 21);
  border: none;
  border-radius: 2px;
}

.bookmark-link:hover {
  box-shadow: inset 0 0 0 3px rgb(50, 66, 92);
}

.bookmark-link:active {
  color: rgba(50, 66, 92, .3);
  box-shadow: inset 0 0 0 3px rgba(50, 66, 92, .3);
}

/* section details */

.details {
  width: 940px;
  padding: 80px 10px 86px 10px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.details h3 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400px;
  text-transform: uppercase;
}

.company-description {
  width: 620px;
}

.details p {
  margin: 0;
  margin-bottom: 32px;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.delivery-list {
  margin: 0 0 40px 0;
  padding: 0;
}

.delivery-item {
  padding-bottom: 24px;
  padding-left: 35px;
  position: relative;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.delivery-item::before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  background-color: #ee3643;
  left: 0;
  top: 10px;
}

.delivery-item:last-child {
  padding-bottom: 0;
}

.red-btn {
  padding: 10px 40px;
  width: 140px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  background-color: rgb(238, 54, 67);
}

.company-contacts {
  width: 310px;
}

.company-contacts img {
  width: 300px;
  height: 150px;
  margin-bottom: 74px;
}

.company-contacts .red-btn {
  width: 180px;
  padding: 10px 60px;
}

/* footer */

.site-footer {
  background-color: rgb(50, 66, 92);
}

.footer-container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  display: flex;
  justify-content: space-between;
}

.address-wrapper {
  width: 380px;
}

.address-wrapper .main-logo {
  width: 220px;
  height: 67px;
}

.footer-nav-list {
  width: 550px;
  margin: 0;
  padding: 0 0 75px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-nav-item {
  list-style: none;
  padding-left: 50px;
  padding-top: 35px;
}

.regular {
  padding-left: 55px;
}

.footer-nav-item:first-child {
  padding-left: 0;
}

.footer-nav-item:last-child {
  width: 130px;
}

.footer-nav-item a {
  color: inherit;
}

.footer-nav-item a:active {
  color: rgba(255, 255, 255, .4);
}

.footer-nav-item a:hover {
  text-decoration: underline;
}

.site-footer .gold {
  color: rgb(255, 209, 128);
}

.site-footer .gold:active {
  color: rgba(255, 209, 128, .4);
}

.site-footer .gold:hover {
  text-decoration: underline;
}

.footer-bottom {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;

  background-color: rgb(41, 52, 73);
}

.footer-bottom a {
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom .footer-container {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-bottom .address {
  color: #ffffff;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;

  width: 380px;
  margin-right: 10px;
}

.footer-bottom p {
  margin: 0;
}

.social-list {
  margin: 0;
  margin-right: 118px;
  padding: 0;

  display: flex;
}

.social-item {
  list-style: none;
  margin: 1px;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgb(33, 42, 58);
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.developer {
  margin-left: auto;
}

.social-item:hover,
.social-item:active {
  background-color: rgb(186, 39, 50);
}

.social-item:nth-child(2) {
  background-image: url(../img/icon-fb.svg);
}

.social-item:nth-child(3) {
  background-image: url(../img/icon-insta.svg);
}

.feedback .feedback-link:hover {
  text-decoration: underline;
}

.feedback .feedback-link:active {
  color: #ee3643;
}
